@charset "utf-8";
/* CSS Document */


/* let's make sure we're on the same page with regard to measuring stuff: */
* {
  box-sizing: border-box;
}

/* why not go with everyone's favorite font along with some font definitions? */
html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body,td,th,p{
	color: #333;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

/* let's get this flex going: */
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
} */
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
/* h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
} */
/* article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
} */
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.6rem;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  display: flex;
  text-align:center;
  justify-content: center;
  z-index: 1001;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 11px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 15px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  z-index: 1;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #3397DB;
  align-items: center;
  display: flex;
  justify-content: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 0 0.5em;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 0.3rem;
  padding: 0;
  width: 9rem;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;

}

/* let's use our newly created class */
.restaurant-card {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px 0 0 0;
  font-family: Arial,sans-serif;
  margin: 1rem 0;
  min-height: 380px;
  /* padding: 0 30px 25px; */
  line-height: 1.2rem;
  width: 95vw;
}
.restaurant-img {
  background-color: #ccc;
  display: block;
  border-radius: 10px 0 0 0;
  margin: 0;
  width: 100%;
  min-height: 2.2rem;
  overflow: hidden;
  /* min-width: 100%; */
}

.restaurant-card div {
  padding: 0 1rem 1rem 1rem
}
.restaurant-card h1 {
  color: #f18200;
  /* font-family: Arial,sans-serif; */
  font-family: Roboto,sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0.5rem 0;
  text-transform: uppercase;
  line-height: 1.1
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
  color: #777777;
  letter-spacing: 0.1rem;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  margin: 15px auto 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  /* height: 87%; */
  position: relative;
  /* right: 0; */
  top: 125px;
  width: 100vw;
  height: calc(100vh - 130px)
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;
  margin: 1rem 0 1rem;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 1rem;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}
#restaurant-hours {
  width: 100%;
  line-height: 1.3rem;
}
#restaurant-hours td {
  color: #666;
  font-size: 0.8rem;
  line-height: 1.3;
}
#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 8rem 1rem 1rem;
  /* width: 50%; */
}

#reviews-container {
  padding: 1rem 1rem 0;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  margin: 0.5rem 0;
  line-height: 1;
  /* padding: 1rem 1rem 5rem; */
  /* letter-spacing: -1px; */
  /* padding-bottom: 1pt; */
}
#reviews-list {
  margin: 0;
  padding: 1rem 1rem 5rem;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 1rem;
  position: relative;
}
#reviews-list li p {
  margin: 0 0 10px;
}

#reviews-list .name {
  margin: 0;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
}

#reviews-list .name,
#reviews-list .date {
text-align: right;
}

#reviews-list .date {
  color: #444;
  margin: 0.2rem 0;
  letter-spacing: 0.1rem;
}

#reviews-list .rating {
  letter-spacing: 0.3rem;
  font-weight: bold;
  line-height: 1;
  font-size: 1.5rem;
}


#reviews-list date {
color: #373738
}


/*
 * breakpoints:
 * 0 to 479 pixels, breakpoint at 480 pixels = 30rem
 */
 @media screen and (max-width: 29.9375rem) {
  .wrapper {
    max-width: 29.9375rem;
  }
	.restaurants-list {
		flex-direction: column;
	}
	.restaurants-filter {
		height: 4.75rem;
		flex-direction: column;
	}
	.restaurants-filter select {
		width: 90%; /* fallback if needed */
		width: calc(100% - 1em);
	}
  .restaurant-details {
    flex-direction: column;
  }
  .restaurant-details-card {
    width: 100%;
    order: 2;
  }
  .restaurant-details-map {
    width: 100%;
    height: 30vh;
    order: 1;
  }
  .footer-content {
    font-size: 0.55rem; /* from 0.75rem */
    font-weight: 300;
    letter-spacing: 0.075em; /* from 0.05em */
  }
}

/*
 * 480 to 599 pixels, breakpoint at 600 pixels = 37.5rem
 */
@media screen and (min-width: 30rem) and (max-width: 37.4375rem) {
  .wrapper {
    max-width: 37.4375rem;
  }
	.restaurants-filter select {
		width: calc(50% - 1em);
	}
  .restaurant-card {
    margin: 1rem;
  }
  .restaurant-details {
    flex-direction: column;
  }
  .restaurant-details-card {
    width: 100%;
    order: 2;
  }
  .restaurant-details-map {
    width: 100%;
    height: 35vh;
    order: 1;
  }
  .footer-content {
    font-size: 0.65rem; /* from 0.75rem */
    font-weight: 300;
    letter-spacing: 0.075em; /* from 0.05em */
  }
}

/*
 * 600 to 839 pixels, breakpoint at 840 pixels = 52.5rem
 */
@media screen and (min-width: 37.5rem) and (max-width: 52.4375rem) {
  .wrapper {
    max-width: 52.4375rem;
  }
	.restaurants-filter select {
		width: calc(45% - 1em);
  }
  .restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant-card {
    width: 45%; /* 2 cards */
  }
  .review-card {
    width: 45%; /* 2 cards */
  }
}

/*
 * 840 to 959 pixels, breakpoint at 960 pixels = 60rem
 */
@media screen and (min-width: 52.5rem) and (max-width: 59.9375rem) {
  .wrapper {
    max-width: 59.9375rem;
  }
	.restaurants-filter select {
		width: calc(40% - 1em);
	}
  .restaurant-card {
    width: 45%; /* 2 cards */
  }
  .review-card {
    width: 45%; /* 2 cards */
  }
}

/*
 * 960 to 1279 pixels, breakpoint at 1280 pixels = 80rem
 */
@media screen and (min-width: 60rem) and (max-width: 79.9375rem) {
  .wrapper {
    max-width: 79.9375rem;
  }
	.restaurants-filter select {
		width: calc(35% - 1em);
	}
  .restaurant-card {
    width: 30%; /* 3 cards */
  }
  .review-card {
    width: 30%; /* 3 cards */
  }
}

/*
 * 1280 pixels / 80rem and beyond
 */
@media screen and (min-width: 80rem) {
	.restaurants-filter select {
		width: calc(30% - 1em);
	}
  .restaurant-card {
    width: 22.5%; /* 4 cards */
  }
  .restaurant-card-table-content {
    font-size: 0.925rem;
  }
  .review-card {
    width: 30%; /* 3 cards */
  }
}